/*** Reset ***/

* { margin: 0; padding: 0; }

html, body {
    height: 100%;
    width: 100%;
}

/*** General ***/

body {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: center;
    -moz-box-pack: center;
    background: url('bg.jpg');
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, Verdana, 'FreeSans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fafafa;
}

/*** Button ***/

.button, .button span {
    display: inline-block;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.button {
    -webkit-box-shadow: 0 8px 0 #19837b,
                        0 12px 12px rgba(0,0,0,.3);
    -webkit-transition: -webkit-box-shadow .15s ease-in-out;
    -moz-box-shadow: 0 8px 0 #19837b,
                     0 12px 12px rgba(0,0,0,.3);
    -moz-transition: -moz-box-shadow .15s ease-in-out;
}

    .button span {
        padding: 15px 30px;
        text-shadow: 0 -1px 2px rgba(0,0,0,.2);
        background: #4ecdc4;
        background: -moz-linear-gradient(top, #2b6460, #45b1a9 1%, #4ecdc4 96%, #8df5ee);
        background: -webkit-gradient(linear, left top, left bottom,
                                     from(#2b6460), to(#8df5ee),
                                     color-stop(0.01, #45b1a9),
                                     color-stop(0.96, #4ecdc4));
        -webkit-box-shadow: 0 4px 4px #1b9a91;
        -webkit-transition: -webkit-transform .15s ease-in-out,
                            -webkit-box-shadow .15s ease-in-out;
        -moz-box-shadow: 0 4px 4px #1b9a91;
        -moz-transition: -moz-transform .15s ease-in-out,
                         -moz-box-shadow .15s ease-in-out;
    }
    
    .button:active {
        -webkit-box-shadow: 0 8px 0 #19837b,
                            0 12px 4px rgba(0,0,0,.3);
        -moz-box-shadow: 0 8px 0 #19837b,
                         0 12px 4px rgba(0,0,0,.3);
    }
    
    .button:active span {
        -webkit-box-shadow: 0 1px 2px #1b9a91;
        -webkit-transform: translate(0, 5px);
        -moz-box-shadow: 0 1px 2px #1b9a91;
        -moz-transform: translate(0, 5px);
    }


/* 
    Background: #556270
    Text: #fafafa

    Top edge: #2b6460
    Bottom edge: #8df5ee
    Top: #45b1a9
    Bottom: #4ecdc4 (Base color)
    Front face: #19837b
    Front face top: #1b9a91
*/